/* styles.css*/

body{
    background-color: rgb(248, 225, 145);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.test-header {
    /*height: 5px;*/
    /*width: 100px;*/
    text-align: center;
    color:black;
    /*background-color: azure;*/
}

.meal-image {
    height: auto;
    width: 500px; 
}